body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #333;
}

.texto {
    color: #666;
}

.contenedor {
    margin-top: 20px;
}

label {
    margin-right: 10px;
}

select {
    padding: 5px;
}

button {
    padding: 8px;
    background-color: #34dbb7;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0a774d;
}

#img {
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}
