
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

#inputPais {
    padding: 8px;
    font-size: 16px;
    width: 70%;
}

#btnBuscar {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#btnBuscar:hover {
    background-color: #45a049;
}

#resultado {
    margin-top: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

#capital, #lenguaje {
    font-size: 16px;
    margin-bottom: 10px;
}
