body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.texto {
    font-size: 18px;
    font-weight: bold;
}

#inputID {
    padding: 8px;
    font-size: 16px;
}

#btnBuscar {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50; /* Color verde, puedes cambiarlo según tus preferencias */
    color: white;
    border: none;
    cursor: pointer;
}

#btnBuscar:hover {
    background-color: #45a049; /* Cambia el color al pasar el ratón sobre el botón */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

thead {
    background-color: #f2f2f2; /* Color de fondo para la fila de encabezado */
}

.columna1 {
    width: 5%;
}

.columna2 {
    width: 15%;
}

.columna3 {
    width: 15%;
}

.columna4 {
    width: 15%;
}

.columna5 {
    width: 15%;
}

.columna6 {
    width: 10%;
}

.columna7 {
    width: 15%;
}